<div class="mt-auto bg-[#EBF4F1] px-6 py-3 flex justify-between items-center rounded-[28px] w-full shadow-md">

  <div class="flex flex-col items-center text-[#003d2b]"
       onclick="window.location.href='dashboard.html'">
    <i class="fa-solid fa-house text-xl"></i>
    <span class="text-xs mt-1">Beranda</span>
  </div>

  <div class="flex flex-col items-center text-gray-500"
       onclick="window.location.href='menu.html'">
    <i class="fa-solid fa-box text-xl"></i>
    <span class="text-xs mt-1">Menu</span>
  </div>

  <div class="flex flex-col items-center text-gray-500"
       onclick="window.location.href='profile.html'">
    <i class="fa-solid fa-user text-xl"></i>
    <span class="text-xs mt-1">Profil</span>
  </div>

</div>