<div
  class="mt-auto bg-[#EBF4F1] px-6 py-3 flex justify-between items-center rounded-[28px] w-full shadow-md"
>
  <button
    class="navbar-btn flex flex-col items-center text-gray-500"
    data-page="dashboard.html"
    onclick="goTo('dashboard.html')"
  >
    <i class="fa-solid fa-house text-xl"></i>
    <span class="text-xs mt-1">Beranda</span>
  </button>

  <button
    class="navbar-btn flex flex-col items-center text-gray-500"
    data-page="menu.html"
    onclick="goTo('menu.html')"
  >
    <i class="fa-solid fa-box text-xl"></i>
    <span class="text-xs mt-1">Menu</span>
  </button>

  <button
    class="navbar-btn flex flex-col items-center text-gray-500"
    data-page="profile.html"
    onclick="goTo('profile.html')"
  >
    <i class="fa-solid fa-user text-xl"></i>
    <span class="text-xs mt-1">Profil</span>
  </button>
</div>

<script>
  function goTo(page) {
    window.location.href = page;
  }
</script>
